@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
}

.cabecalho {
    position: relative;
    min-width: 300px;
    max-width: 940px;
    margin: auto;
}

nav {
    position: absolute;
    text-align: right;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(175, 175, 32);
    transition: 600ms color;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.dados {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    padding: 15px 30px;
    width: 50%;
}

#horario {
    font-size: 15px;
    width: 15%;
    padding: 1vh;
    border-radius: 5px;
}

.checkbox {
    margin: 20px 0;
    width: auto;
}

input#enviar {
    font-weight: bold;
    font-size: 18px;
    background-color: orange;
    color: white;
    display: block;
    margin-bottom: 20px;
    padding: 10px 30px;
    width: 30%;
    border: none;
    border-radius: 5px;
    transition: 0.9s all;
}

#enviar:hover {
    background-color: rgb(207, 114, 0);
    transform: scale(1.03);
}

table {
    margin: 20px 0;
    width: 50%;
}

thead {
    background-color: #555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 15px 8px;
}

td {
    text-align: center;
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copy {
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
    .cabecalho, main, table, fieldset {
        width: auto;
    }

    .image { 
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
        padding-bottom: 5px;
    }

    form {
        width: auto;
        padding: 5px 10px;
    }

    .dados {
        padding: 5px;
        width: auto;
    }

    .checkbox {
        width: 30%;
    }

    #container {
        margin-left: 5em;
    }
}
